 /* Fonts */
@font-face {
  font-family: FuturaBook;
  src: url('fonts/FuturaBook/FuturaBook.woff') format('woff2'),
    url('fonts/FuturaBook/FuturaBook.woff2') format('woff');
}
@font-face {
  font-family: FuturaHeavy;
  src: url('fonts/FuturaHeavy/FuturaHeavy.woff') format('woff2'),
    url('fonts/FuturaHeavy/FuturaHeavy.woff2') format('woff');
}
@font-face {
  font-family: FuturaLight;
  src: url('fonts/FuturaLight/FuturaLight.woff') format('woff2'),
    url('fonts/FuturaLight/FuturaLight.woff2') format('woff');
}
@font-face {
  font-family: FuturaMedium;
  src: url('fonts/FuturaMedium/FuturaMedium.woff') format('woff2'),
    url('fonts/FuturaMedium/FuturaMedium.woff2') format('woff');
}
@font-face {
  font-family: LetterGothicStd;
  src: url('fonts/LetterGothicStd/LetterGothicStd.woff') format('woff2'),
    url('fonts/LetterGothicStd/LetterGothicStd.woff2') format('woff');
}
@font-face {
  font-family: MrsEavesBold;
  src: url('fonts/MrsEavesBold/MrsEavesBold.woff') format('woff2'),
    url('fonts/MrsEavesBold/MrsEavesBold.woff2') format('woff');
}
@font-face {
  font-family: MrsEavesRoman;
  src: url('fonts/MrsEavesRoman/MrsEavesRoman.woff') format('woff2'),
    url('fonts/MrsEavesRoman/MrsEavesRoman.woff2') format('woff');
}


/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw generate util tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- TAILWIND GENERATOR EDIT
 */
